@import url('https://fonts.googleapis.com/css2?family=Ephesis&family=Libre+Bodoni:ital,wght@0,400..700;1,400..700&display=swap');
.informationTitle
{
    font-family: "Libre Bodoni", serif;
    font-optical-sizing: auto;
    font-weight: bold;
    font-style: normal;
    color: #0d6efd;
}
